/* variables */
:root {
  --bg-blue: hsl(270, 50%, 25%);
  --box-fill: hsla(0, 0%, 100%, 0.1);
  --box-border: hsla(0, 0%, 70%, 0.5);
  --box-opaque: hsla(0, 0%, 20%, 1);
  --box-highlight: hsla(42, 100%, 75%, 0.8);
  --heading: hsla(0, 50%, 0%, 0.1);
  --accent: hsl(42, 100%, 50%);
  --main: hsl(42, 100%, 75%);
  --scrollbarTrack: hsla(42, 100%, 75%, 0.5);
}

/* styles */

* {
  box-sizing: border-box;
}

body,
html {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  background: linear-gradient(var(--bg-blue), black);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-content: center;
}

header > h1 {
  font-size: 3em;
  text-align: center;
  margin: 0.2em 0.5em;
  background-color: var(--heading);
  box-shadow: 0em 0em 0.3em white;
  border-radius: 0.2em;
}

header,
footer {
  flex-grow: 0;
}

h1,
p,
span {
  color: var(--accent);
}

.nav-links > hr, .innerOutputBox > hr {
  width: 80%;
  border: none;
  border-top: 1px solid var(--scrollbarTrack);
}

/* styles for react components */
.componentButton {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.reactArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  height: 80vh;
  margin: auto;
  justify-content: center;
  color: var(--accent);
  background: var(--box-fill);
  border-radius: 0.5em;
  box-shadow: 0em 0em 0.3em white;
}

.copyButton {
  color: var(--accent);
  background: var(--box-fill);
  border-radius: 0.5em;
  padding: 0.5em 3em;
}

.copyButton:hover, #outFormat:hover, #spacer:hover {
  box-shadow: 0em 0em 0.3em white;
  background-color: var(--box-border);
  cursor: pointer;
}

.textArea,
.outputBox,
.outerOutputBox {
  color: var(--accent);
  background: var(--box-fill);
  border-radius: 0.5em;
  font-size: 1em;
  width: 60vw;
  height: 30vh;
  margin: 10px 0;
  padding: 0.5em;
  cursor: text;
  overflow-wrap: break-word;
  overflow-y: auto;
}

.textArea_message {
  color: var(--accent);
  background: var(--box-fill);
  border: solid 1px var(--accent);
  padding: 0.5em;
  margin: auto;
  border-radius: 0.5em;
  font-size: 1em;
  width: 60vw;
}

.outerOutputBox {
  display: flex;
  justify-content: space-evenly;
}

.innerOutputBox {
  color: var(--accent);
  background: var(--box-fill);
  border-radius: 0.5em;
  border: var(--box-highlight) solid 0.2px;
  font-size: 1em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  max-width: 14vw;
}
.innerInputLabel {
  margin: 0.2em;
  text-align: center;
}

.innerInputBox {
  color: var(--accent);
  background: var(--box-fill);
  border-radius: 0.5em;
  font-size: 1em;
  padding: 0em 0.5em;
  width: 30%; 
  margin-left: 0.3em;
}

.outputGrid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: repeat(7, 1fr);
  place-items: center;
}

.gridCopyButton {
  grid-column: 3;
  grid-row: 6 / 8;
}
/* copy icon */
.material-symbols-outlined {
  font-size: 16px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 16
}
.gridCopyButton > .material-symbols-outlined {
  font-size: 24px;
}

.material-symbols-outlined:hover {
  cursor: pointer;
  font-variation-settings:
  'wght' 600
}
/* tooltip styling */
.copyTip {
  position: absolute;
  z-index: 1;
  padding: 0.25rem;
  font-family: 'Open Sans', sans-serif;
  background: var(--box-opaque);
  color: var(--accent);
  border: solid 0.2px var(--box-highlight);
  border-radius: 0.5em;
  opacity: 0;
  font-size: 0.875rem;
}

.material-symbols-outlined:hover .copyTip,
.material-symbols-outlined:focus .copyTip {
  opacity: 1;
  transform: translateX(5px);
}

.countHeading {
  margin: 0.3em 0;
  padding: 0 0.2em;
  font-weight: 500;
 }

.countSubHeading {
  margin: 0.3em 0;
  padding: 0 0.2em;
 }

.countItem {
  margin: 0.1em;
  display: flex;
}



.formatChooser {
  margin-top: 0.5em;
  display: flex;
  justify-content: space-evenly;
  max-width: 60vw;
}

.formatChooser__outFormat, .formatChooser__spacer {
  color: var(--accent);
  background: var(--box-fill);
  border-radius: 0.5em;
  padding: 0.5em 2em;
  margin: 0 2em;
}

.formatChooser__outFormat > select, .formatChooser__spacer > select {
  color: var(--accent);
  background: var(--box-fill);
  border-radius: 0.5em;
  margin: 0 1em;
}


/* navbar styling, all pages except index.astro */

/* nav styles */
/* container styles */
.nav-links {
  margin: auto;
  width: 20vw;
  max-height: 80vh;
  box-shadow: 0em 0em 0.3em white;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: var(--box-fill);
  overflow-y: auto;
}

/* item styles */

.section-p {
  margin: 0.3em;
  font-size: 1em;
  font-weight: 500;
}

.toolSection {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-align: center;
}

/*-buttons styling */
.navItem {
  display: block;
  width: 80%;
  margin: 0.5em auto;
  padding: 0.5em 0.1em;
  background-color: var(--box-fill);
  border: solid 1px var(--box-border);
  box-shadow: 0em 0em 0.3em var(--box-border);
  border-radius: 0.5em;
  text-decoration: none;
  color: var(--main);
  font-size: 0.8em;
}

.navItem:hover {
  box-shadow: 0em 0em 0.3em white;
  background-color: var(--box-highlight);
  color: var(--bg-blue);
}

.homeLink {
  text-align: center;
  color: var(--accent);
  font-size: 1em;
}

/* scrollbars */

/*  from https://codepen.io/stephenpaton-tech/pen/JjRvGmY*/
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--scrollbarTrack);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1em;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbarTrack);
  border-radius: 0em 0.5em 0.5em 0em;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--bg-blue);
  border-radius: 10px;
  border: 3px solid var(--scrollbarTrack);
}


