/* variables */
:root {
    --bg-blue: hsl(270, 50%, 25%);
    --box-fill: hsla(0, 0%, 50%, 0.1);
    --box-border: hsla(0, 0%, 50%, 0.2);
    --heading: hsla(0, 50%, 0%, 0.1);
    --accent: hsl(42, 100%, 80%);
}

/* styles */
html {
    background: linear-gradient(var(--bg-blue), black);
    height: 100vh;
    display: grid;
}

p {
    color: var(--accent);
    background: var(--box-fill);
    border-radius: 0.5em;
    box-shadow: 0em 0em 0.3em white;
}

.nav-links {
    color: var(--accent);
}