.section-p {
	font-size: 1.5em;
  font-weight: 600;
}

.menuBox {
  margin: auto;
}
/* nav styles */
/* container styles */
.nav-links {
  display: flex;
  flex-direction: row;
  width: 80vw;
  box-shadow: 0em 0em 0.3em white;
  border-radius: 0.5em;
  background-color: var(--box-fill);
  padding: 0.5em;
}

/* hide and move hr and .homeLink out of flow */
hr, .homeLink {
  visibility: hidden;
  position: absolute;
  bottom: 0;
}

/* item styles */
.toolSection {
  width: 90%;
}

/*-buttons styling */
.navItem {
  margin: 0.5em auto;
  padding: 0.5em 0.1em;
  background-color: var(--box-fill);
  border: solid 1px var(--box-border);
  box-shadow: 0em 0em 0.3em var(--box-border);
  border-radius: 0.5em;
  text-decoration: none;
  color: var(--main);
  font-size: 1.2em;
  font-weight: 500;
}

.navItem:hover {
  box-shadow: 0em 0em 0.3em white;
  background-color: var(--box-highlight);
  color: var(--bg-blue);
}

/* hide menu button */
.nav-button {
  display: none;
}

/* change menu layout below 800px */
@media screen and (max-width: 800px) {
  .nav-button {
    display: none;
  }
  .nav-links {
    flex-direction: column;
    width: 90;
  }
  .navItem {
    margin: 0.5em auto;
    /* width: 100%; */
  }
  .toolSection {
    width: 100%;
  }
  .nav-button {
    visibility: visible;
  }
}
