.menuBox > h2 {
	text-align: center;
}

/* nav styles */
/* container styles */
.nav-links {
  display: flex;
  width: 80vw;
  box-shadow: 0em 0em 0.3em white;
  border-radius: 0.5em;
  background-color: var(--box-fill);
}

/* item styles */
.toolSection {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-align: center;
  width: 90%;
  margin: 10px 0px;
}

/*-buttons styling */
.navItem {
  display: block;
  width: 80%;
  margin: 0.5em auto;
  padding: 0.5em 0.1em;
  background-color: var(--box-fill);
  border: solid 1px var(--box-border);
  box-shadow: 0em 0em 0.3em var(--box-border);
  border-radius: 0.5em;
  text-decoration: none;
  color: var(--main);
  font-size: 1.2em;
  font-weight: 500;
}

.navItem:hover {
  box-shadow: 0em 0em 0.3em white;
  background-color: var(--box-highlight);
  color: var(--bg-blue);
}
