---
import '../styles/global.css';
import '../styles/toggle.css';
import PageLayout from '../layouts/PageLayout.astro';
import Input from '../components/react/Input';
import CountNucleotides from '../components/react/dna/CountNucletides';
import DnaWeightFromLength from '../components/react/dna/DnaWeightFromLength';
import ExactDnaWeightFromSequence from '../components/react/dna/ExactDnaWeightFromSequence';
import ApproxDnaWeightFromSequence from '../components/react/dna/ApproxDnaWeightFromSequence';
import { Molecule } from '../types';

const pageTitle = 'DNA parameters';
---

<style>
  @media screen and (max-width: 1150px) {
    .outerOutputBox {
      flex-direction: column;
      flex-wrap: wrap;
    }
    }
    @media screen and (max-width: 950px) {
      .outerOutputBox {
        flex-wrap: nowrap;
        align-items: center;
      }
      .innerOutputBox {
       margin: 0.5em 0;
       width: 90%;
      };
    }
</style>

<PageLayout pageTitle={pageTitle}>
  <section class="reactArea">
    <div class="outerOutputBox">
      <CountNucleotides
        client:load
        ariaLabelContent={'Nucleotide counts'}
      />
      <ExactDnaWeightFromSequence
        client:load
        ariaLabelContent={'Exact DNA weight from sequence'}
      />
      <ApproxDnaWeightFromSequence
        client:load
        ariaLabelContent={'Exact DNA weight from sequence'}
      />
      <DnaWeightFromLength
        client:load
        ariaLabelContent={'DNA weight from length'}
      />
    </div>

    <Input
      client:load
      ariaLabelContent={'DNA input form for DNA parameters'}
      placeholderText={'Enter DNA sequence here...'}
      inputType={Molecule.Dna}
    />
  </section>
</PageLayout>
