---
import '../styles/global.css';
import PageLayout from '../layouts/PageLayout.astro';
import Input from '../components/react/Input';
import CountNucleotides from '../components/react/CountNucletides';

const pageTitle = 'DNA parameters';
---

<PageLayout pageTitle={pageTitle}>
  <section class="reactArea">
    <Input
      client:load
      ariaLabelContent={'DNA input form for DNA parameters'}
      placeholderText={'Enter DNA sequence here...'}
    />
    <div class="outputBox">
      <CountNucleotides
        client:load
        ariaLabelContent={'Nucleotide counts'} />
  
    </div>
    
  </section>
</PageLayout>
