---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navigation from "../components/Navigation.astro";
import '../styles/index.css';
const pageTitle = "MolBioTools";

---


<BaseLayout pageTitle={pageTitle}>

	<!-- <Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]}  -->
		<div>
			<div class="menuBox">
				<h2>What would you like to do?</h2>
				<Navigation />
				
			</div>
		</div>

</BaseLayout>

