---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navigation from '../components/astro/Navigation.astro';
import '../styles/index.css';
const pageTitle = 'MolBioTools';
---

<BaseLayout pageTitle={pageTitle}>
  <div>
    <div class="menuBox">
      <h2>What would you like to do?</h2>
      <Navigation />
    </div>
  </div>
</BaseLayout>
