---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navigation from "../components/Navigation.astro";

const pageTitle = "MolBioTools";

---
<style>
.menuBox > h2 {
	text-align: center;
	margin: 2em 0;
	font-size: 1.8em;
}
</style>

<BaseLayout pageTitle={pageTitle}>

	<!-- <Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]}  -->
		<div>
			<div class="menuBox">
				<h2>What would you like to do?</h2>
				<Navigation />
				
			</div>
		</div>

</BaseLayout>

