---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import HomeButton from '../components/HomeButton.astro';

import Input from '../components/Input';

const pageTitle = 'Reverse complement DNA';
---

<BaseLayout pageTitle={pageTitle}>
  <section class="reactArea">
    <Input
      client:load
      ariaLabelContent={'DNA input form for reverse complement'}
    />
  </section>
  <HomeButton />
</BaseLayout>
