---
import '../styles/global.css';
import '../styles/toggle.css';
import PageLayout from '../layouts/PageLayout.astro';
import Input from '../components/react/Input';
import CountNucleotides from '../components/react/dna/CountNucletides';
import RnaWeightFromLength from '../components/react/dna/RnaWeightFromLength';
import ExactRnaWeightFromSequence from '../components/react/dna/ExactRnaWeightFromSequence';
import ApproxRnaWeightFromSequence from '../components/react/dna/ApproxRnaWeightFromSequence';
import { Molecule } from '../types';

const pageTitle = 'RNA parameters';
---

<PageLayout pageTitle={pageTitle}>
  <section class="reactArea">
    <div class="outerOutputBox">
      <CountNucleotides
        client:load
        ariaLabelContent={'Nucleotide counts'}
        inputType={Molecule.Rna}
      />
      <ExactRnaWeightFromSequence
        client:load
        ariaLabelContent={'Exact RNA weight from sequence'}
      />
      <ApproxRnaWeightFromSequence
        client:load
        ariaLabelContent={'Exact RNA weight from sequence'}
      />
      <RnaWeightFromLength
        client:load
        ariaLabelContent={'RNA weight from length'}
      />
    </div>

    <Input
      client:load
      ariaLabelContent={'RNA input form for RNA parameters'}
      placeholderText={'Enter RNA sequence here...'}
      inputType={Molecule.Rna}
    />
  </section>
</PageLayout>
