---
import '../styles/global.css';
import PageLayout from '../layouts/PageLayout.astro';
import TranscribeDna from '../components/react/TranscribeDna';
import Input from '../components/react/Input';
import { Molecule } from '../types';

const pageTitle = 'Transcribe DNA';
---

<PageLayout pageTitle={pageTitle}>
  <section class="reactArea">
    <TranscribeDna client:load />
    <Input
      client:load
      ariaLabelContent={'DNA input form for transcribe DNA'}
      placeholderText={'Enter DNA sequence here...'}
      inputType={Molecule.Dna}
    />

  </section>
</PageLayout>
