---
import '../styles/global.css';
import PageLayout from '../layouts/PageLayout.astro';
import TranscribeDna from '../components/react/TranscribeDna';
import Input from '../components/react/Input';

const pageTitle = 'Transcribe DNA';
---

<PageLayout pageTitle={pageTitle}>
  <section class="reactArea">
    <Input
      client:load
      ariaLabelContent={'DNA input form for transcribe DNA'}
      placeholderText={'Enter DNA sequence here...'}
    />

    <TranscribeDna client:load />
  </section>
</PageLayout>
