---
const pageList: string[] = ['Home', 'About'];
---

<style>
  /* container styles */
  .nav-links {
    margin-top: 3em;
    width: 20vw;
    box-shadow: 0.2em 0em 0.3em white;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* item styles */
  .navItem {
    color: var(--accent);
    text-decoration: none;
    font-size: 3em;
    text-align: center;
    width: 90%;
    margin: 10px 0px;
    border-radius: 0.2em;
  }

  .navItem:hover {
    box-shadow: 0em 0em 0.1em white;
    background-color: var(--heading);
  }
</style>
<div class="nav-links">
  {
    pageList.map((page) =>
      page === 'Home' ? (
        <a class="navItem" href="/">
          {page}
        </a>
      ) : (
        <a class="navItem" href={page.toLowerCase()}>
          {page}
        </a>
      )
    )
  }
</div>
